*{
    margin: 0;
    padding: 0;
}
/* share style */

}

/* nav style */
header{
    background-image:url('../Assets/Hero-bg.png');
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
   
}
.nav_title{
    font-size: 34px;
    font-weight: 700;
    color: #4E47FF;
    padding: 51px;
}
.Sing_up_btn{
    font-size: 16px;
    font-weight: 700px;
    color: white;
    padding: 12px 36px ;
    border-radius:10px;
    background-color: #4E47FF;
    height: 48px;
    width: 174px;
    border:none;
     
}
.Sing_up_btn:hover{
    background: #7c4dff;
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(124, 77, 255, 0.5)
}
main section
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner style */

.banner{
    text-align: center;
    margin: 158px 117px 0 117px ;
    padding-bottom: 50px;
   
    
  
}
.banner_title{
    font-size: 65px;
}
.banner_btn{
   height: 48px;
   width:174px;
   font-size: 16px;
   font-weight: 700px;
    color: white;
    padding: 12px 36px ;
    border-radius:10px;
    background-color: #4E47FF;
    
}
.banner_btn:hover{
     background: #7c4dff;
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(124, 77, 255, 0.5)
}
/* action style */
.action{
    display: flex;
    justify-content: space-around;
    margin: 124px 159px 0 141px;
    align-items: center;
    /* max-width: 1140px;   */
}
.action_img{
margin-left: 737px;
}
/* .action_content{
max: width aut 1140px;
margin:0 auto;
gap: 23px;} */

.action_title{
    font-size: 42px;
    
}
.action_pera{
    color:#a3a2b3;
    font-size: 24px;
    gap: 10px;
    padding-right: 15%;
    
}
.action_btn{
    height: 48px;
    width: 229px;px;
    font-size: 16px;
    color: white;
    padding: 12px 36px ;
    border-radius:10px;
    background-color: #817eec;
    margin-top: 23px;
   
    
}
.action_btn:hover{
     background: #7c4dff;
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(124, 77, 255, 0.5)
}
.action_img{
    border-radius:48px;
}
/* productive list stle */
.Productive_section{
 text-align: center;
 background-color:#4d47ff10;
margin:24px 159px 0 141px;
}
.productive_title{
    font-size: 38px;
    
}
.productive_container{
    display: flex;
    justify-content: space-around;

}
.active{
    font-size: 80px;
    color: #4E47FF;
}
/* User comment  */
.users_about{
    
}
.user_say{
    display: block;
    text-align: center;
    margin-top: 137px;
    font-size: 42px;
} 
.user_container{
    display:flex;
    justify-content:space-around;
    gap: 23px;
    justify-content: space-around;
    margin-right:151px;
    margin-left: 151px;
    margin-top: 50px;
    
    
}
.user{
    
    padding: 24px 68px 94px 68px;
    box-shadow: 0 4px 4px 0 #000000bb;
}

/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    align-items: center;
    margin:24px 159px 0 141px;
    am
}
.footer-column{
    width: 50%;
}

footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
   
}
.submit {
    height: 64px;
    border-radius: 5px;
    background-color: #4E47FF;
    display: block; 
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
   
}
.sub_btn{
    text-decoration: none;
    
}
.submit:hover{
     background: #7c4dff;
      transform: scale(1.05);
      box-shadow: 0 6px 20px rgba(124, 77, 255, 0.5)
}
.section-title{
    font-size: 97px;
    font-weight: 700;
}
/* last section */
.about{
    text-align: center;
    margin-bottom: 103px;
}
.section-main{
    font-size: 100px;
    color: #4E47FF;
   
}
.section-description{
    color: #8987A1;
    }
.contact_us{
    text-decoration: none;
    margin: 10px;
    color: #8987A1;
}
