/* share style */


/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav_title{
    font-size: 34px;
    font-weight: 700;
    color: #4E47FF;
}
.Sing_up_btn{
    font-size: 16px;
    font-weight: 700px;
    color: white;
    padding: 12px 36px ;
    border-radius:10px;
    background-color: #4E47FF;
     
}

/* banner style */

.banner_style{
    /* align-items: center; */
    text-align: center;
}
.banner_title{
    font-size: 65px;
}
header{
    background-image:url('../Assets/Hero-bg.png');
    
}